<div>
	<h2><a routerLink="/main" routerLinkActive="active">Main Page</a>
		>> <a routerLink="/employees" routerLinkActive="active">Employees</a> >> {{title}}</h2>
	<div [ngSwitch]="httpStatus">
		<p *ngSwitchCase="0">Unable connecting to Server</p>
		<p *ngSwitchCase="404">Employee doesn't exist</p>
		<form *ngSwitchCase="200" (ngSubmit)="onSubmit()" class="employee">
			Name <input [(ngModel)]="employee.name" type="text" name="name" /> <br />
			Active <input [(ngModel)]="employee.active" type="checkbox" name="active" checked="checked" /> <br />
			Department
			<select [(ngModel)]="employee.departmentId" name="department">
				<option *ngFor="let department of departmentsData.instances" mane="department_id" value="{{department.id}}">{{department.name}}</option>
			</select>
			<br />
			<input type="submit" value="{{submitOperation}}">
		</form>
		<p *ngSwitchDefault>An error occurred while retrieving data from Server</p>
	</div>
</div>