<div>
	<h2><a routerLink="/main" routerLinkActive="active">Main Page</a> >> Employees</h2>
	<a routerLink="/add-employee" routerLinkActive="active">Add Employee</a> <br />
	<div>
		Employee name <input [(ngModel)]="newSearch" type="text" name="search" />
		<button (click)="processSearch()">Search</button> <br />
	</div>
	<div [ngSwitch]="httpStatus">
		<p *ngSwitchCase="0">Unable connecting to Server</p>
		<div *ngSwitchCase="200">
			<table *ngIf="pageCount > 0; else noEmployeesCase" class="table-striped employees">
				<th>View</th>
				<th>Edit</th>
				<th>ID</th>
				<th>Name</th>
				<th>Active</th>
				<th>Department</th>
				<th>Delete</th>
				<tr *ngFor="let employee of data.instances">
					<td><a routerLink="/view-employee/{{employee.id}}" routerLinkActive="active">View</a></td>
					<td><a routerLink="/edit-employee/{{employee.id}}" routerLinkActive="active">Edit</a></td>
					<td>{{employee.id}}</td>
					<td>{{employee.name}}</td>
					<td>{{isActive(employee.active)}}</td>
					<td>{{employee.departmentName}}</td>
					<td><button (click)="onDelete(employee.id)">Delete</button></td>
				</tr>
			</table>
			<ng-template #noEmployeesCase><p>There isn't any employees</p></ng-template>
			<div *ngIf="pageCount > 1">
				<a *ngIf="page > 1" routerLink="/employees" [queryParams]="getQueryParams(page - 1)" routerLinkActive="active">Previous</a>
				<span *ngFor="let pageIndex of pageIndexes">
					<a *ngIf="pageIndex != page; else currentPageCase" routerLink="/employees" [queryParams]="getQueryParams(pageIndex)" routerLinkActive="active">{{pageIndex}}</a>
					<ng-template #currentPageCase>{{pageIndex}}</ng-template>
				</span>
				<a *ngIf="page < pageCount" routerLink="/employees" [queryParams]="getQueryParams(page + 1)" routerLinkActive="active">Next</a>
			</div>
		</div>
		<p *ngSwitchDefault>An error occurred while retrieving data from Server</p>
	</div>
</div>