<div>
	<h2><a routerLink="/main" routerLinkActive="active">Main Page</a>
		>> <a routerLink="/employees" routerLinkActive="active">Employees</a> >> View Employee</h2>
	<div [ngSwitch]="httpStatus">
		<p *ngSwitchCase="0">Unable connecting to Server</p>
		<p *ngSwitchCase="404">Employee doesn't exist</p>
		<div *ngSwitchCase="200">
			<p>Name: {{employee.name}}</p>
			<p>Active: {{isActive(employee.active)}}</p>
			<p>Department: {{employee.departmentName}}</p>
		</div>
		<p *ngSwitchDefault>An error occurred while retrieving data from Server</p>
	</div>
</div>