.heading {
	display: block;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border-radius: 9px;
	cursor: pointer;
	color: rgb(255, 255, 255);
	font-family: Arial;
	font-size: 28px;
	text-align: center;
	padding: 16px 31px;
	text-decoration: none;
	text-shadow: 0px 1px 0px rgb(47, 102, 39);
}

.departments {
	background-color: rgb(68, 199, 103);
	border: 2px solid rgb(24, 171, 41);
}

.employees {
	background-color: #2196F3;
	border: 2px solid #3f51b5;
}

.heading:hover {
	background-color:#ccc;
}